<!DOCTYPE html>
<html>
  <head>
    <title>tinycrm</title>
    <meta name="description" content="tinycrm">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">  
  </head>
  <body>
    <img id="logo" src="https://cdn.glitch.com/c6f4d742-9bdf-407f-9167-8c54db977a28%2FUVFuZjVZY0NlUUNCZVc5K0lZREFzQT09LS1ybTE2b0hRZHZjRjI2ODBPYnRydC9BPT0%3D--32bd4d6c0b56d504085748749173affb287c38d9_1000x.svg.png?1519078700485" alt="tinycrm">
    
    <ul id="menu">
      <li>
        <h3>
          <a href="https://tinycrm.glitch.me">All Contacts</a>
        </h3>
      </li>
      <li>
        <h3>
          <a href="https://docs.google.com/spreadsheets/d/12k6eMQAWQZLmJ9QqEwIPqO6076epl_wddeecRl1O2nE/edit?usp=sharing" target="_blank">Spreadsheet</a>
        </h3>
      </li>
      <li>
        <h3>
          <a href="https://tinycrm.glitch.me/new">Add Contact</a>
        </h3>
      </li>
    </ul>

    {{{ body }}}    
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  </body>
</html>